{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
<a href="/staff-profiles/{{ node.title.value }}">
<article>
  {% if content.field_photo['#items'] %}
    {{ content.field_photo }}
  {% else %}
    <img
      src="sites/uregniintra/themes/uregni_theme/images/no-image-placeholder.png"
      alt="" height="198">
  {% endif %}

    <h3 class="staff-name">{{ content.field_first_name }} {{ node.title.value }}</h3>
    <p>{{ content.field_title }}
      {% if content.field_directorate['#items'] %}
        {{ '- '|t }}{{ content.field_directorate }}
      {% endif %}
    </p>

    {% if content.field_extension['#items'] %}
      <p>
        <span>{{ 'Extension: '|t }}</span>
        <span>{{ content.field_extension }}</span>
      </p>
    {% endif %}
</article>
</a>
