{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{% set row_classes = [
  'views-row',
  'board-card'
] %}
<a href="/staff-profiles" class="btn btn-primary btn-staff-page">Back to
  People</a>
<article class="staff-profile-card">

    <div class="profile-info">
      <h2 class="staff-name">{{ content.field_first_name }} {{ node.title.value }}</h2>
      <h3>{{ content.field_title }}
        {% if content.field_directorate %}
        {{ '- '|t }}{{ content.field_directorate }}
      {% endif %}
      </h3>

      {% if content.field_extension %}
            <p>
              <span>{{ 'Extension: '|t }}</span>
              <span>{{ content.field_extension }}</span>
            </p>
        {% endif %}

        {% if content.field_mobile %}
          <p>
            <span>{{ 'Mobile: '|t }}</span>
            <span>{{ content.field_mobile }}</span>
          </p>
        {% endif %}

      {% if content.field_find_me %}
        <p>
          <span>{{ 'Find me: '|t }}</span>
          <span>{{ content.field_find_me }}</span>
        </p>
      {% endif %}

      {% if content.field_work_pattern %}
        <p>
          <span>{{ 'Work pattern: '|t }}</span>
          <span>{{ content.field_work_pattern }}</span>
        </p>
      {% endif %}

      {% if content.field_about_me %}
        <p>
          <span>{{ 'About me: '|t }}</span>
          <span>{{ content.field_about_me }}</span>
        </p>
      {% endif %}
    </div>


    {% if content.field_photo %}
      <div class="staff-profile-image">
        {{ content.field_photo }}
      </div>
    {% else %}
      <div class="staff-profile-image">
        <img
          src="sites/uregniintra/themes/poniintra_theme/images/no-image-placeholder.png"
          alt="">
      </div>
    {% endif %}
</article>
