{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{%
  set row_classes = [
  'views-row',
  'board-card'
]
%}
<a href="/staff-profiles" class="btn btn-primary btn-staff-page">Back to People</a>
<div class="staff-profile-card">
  <div class="profile-header">

    <div class="profile-info">

      <div class="name-title">
        {% if content.field_first_name %}
          <h2 class="staff-name">{{ content.field_first_name }}</h2>
        {% endif %}

        {% if node.title.value %}
          <h2 class="staff-surname">{{ node.title.value }}</h2>
        {% endif %}
      </div>

      {% if content.field_title %}
        <div class="field-job-title">
          <h3>{{ content.field_title }}<h3>
        </div>
      {% endif %}

      {% if content.field_extension %}
        <div class="field-extension">
          {{ content.field_extension }}
        </div>
      {% endif %}

      {% if content.field_mobile %}
        <div class="field-mobile">
          {{ content.field_mobile }}
        </div>
      {% endif %}

    </div>

    {% if content.field_profile_image %}
      <div class="profile-image">
        {{ content.field_profile_image }}
      </div>
    {% endif %}
  </div>
</div>
